[tool.poetry]
name = "python-sage-imap"
version = "0.4.6"
description = "A Python package for managing IMAP connections and email operations."
authors = ["Sepehr Akbarzadeh <sepehr@sageteam.org>"]
readme = "README.md"
license = "MIT"
keywords = ["python", "imap", "email", "mailbox", "python-packages"]
repository = "https://github.com/sageteamorg/python-sage-imap"

classifiers=[
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Intended Audience :: Developers",
]

packages = [
    { include = "sage_imap" }
]

[tool.poetry.urls]
"Documentation" = "https://python-sage-imap.readthedocs.io/en/latest/"
"Source Code" = "https://github.com/sageteamorg/python-sage-imap"
"Issues" = "https://github.com/sageteamorg/python-sage-imap/issues"

[tool.poetry.dependencies]
python = ">=3.11,<4.0"
requests = "^2.32.3"

[tool.poetry.group.dev.dependencies]
black = "^24.4.2"
isort = "^5.13.2"
mypy = "^1.10.1"
pytest = "^8.2.2"
flake8 = "^5.0.4"
tox = "^4.15.1"
coverage = "^7.5.4"
pre-commit = "^3.5.0"
sphinx = "^6.2.1"
wheel = "^0.43.0"
twine = "^5.1.1"
pylint = "^3.2.5"
pytest-cov = "^5.0.0"
commitizen = "^3.27.0"
docformatter = "^1.7.5"
types-setuptools = "^70.2.0.20240704"
codecov = "^2.1.13"
sphinx-rtd-theme = "^2.0.0"
bandit = {extras = ["toml"], version = "^1.7.9"}

[tool.bandit]
targets = ["./sage_imap"]
exclude_dirs = [
    "tests",
    "migrations",
]
severity = "medium"
confidence = "medium"
max_lines = 500
progress = true
reports = true
output_format = "screen"
output_file = "bandit_report.txt"
include = ["B101", "B102"]
exclude_tests = ["B301", "B302"]

[tool.bandit.plugins]
B104 = { check_typed_list = true }

[tool.black]
line-length = 88
target-version = ['py38']
exclude = '''
/(
    \.git
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | docs
)/
'''

[tool.isort]
profile = "black"
line_length = 88
known_first_party = ["sage_imap"]
skip = ["docs"]

[tool.mypy]
mypy_path = "stubs"
disallow_untyped_calls = true
disallow_untyped_defs = true
ignore_missing_imports = true
explicit_package_bases = true
exclude = '''
^docs/source/conf.py|
^build/|
^tests/|
^stubs/
'''

[tool.commitizen]
name = "cz_conventional_commits"
version = "0.1.0"

[tool.pytest.ini_options]
addopts = "--cov --cov-report=term-missing --cov-report=html --cov-fail-under=90"
python_files = ["tests.py", "test_*.py"]
testpaths = ["tests"]
norecursedirs = [
    "node_modules",
    "env",
    "venv",
    ".venv",
    "dist",
    "build",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
